<header>
    <div class="header-container">
      <div class="logo"><img src="assets/Images/hanza.png"></div>
      <nav class="menu">
        <div class="dropdown">
          <div class="dropbtn menu-button">Dashboards</div>
          <div class="dropdown-content">
            <a href="#">Dashboard 1</a>
            <a href="#">Dashboard 2</a>
            <a href="#">Dashboard 3</a>
          </div>
        </div>
        <div class="menu-button">
            <a>Analytics</a>
        </div>
        <div class="menu-button">
             <a>About us</a>
        </div>
      </nav>
      <div class="user-info">
        <span class="username">Username</span>
        <span class="email">user@example.com</span>
        <img src="assets\Images\man-face-clipart-design-illustration-free-png.webp" alt="profile-picture" class="profile-picture"/>
      </div>
    </div>
  </header>
  