<header>
    <div class="header-container">
      <div class="logo" routerLink=""><img src="assets/Images/hanza.png"></div>
      <nav class="menu">
        <div class="dropdown">
          <div class="dropbtn menu-button " href="1">Dashboards</div>
          <div class="dropdown-content">
            <a *ngFor="let report of reports" [routerLink]="['/dashboard', report.id]">{{ report.name }}</a>
          </div>
        </div>
        <div class="menu-button">
            <a>Analytics</a>
        </div>
        <div class="menu-button">
             <a>About us</a>
        </div>
      </nav>
      <div class="user-info">
      </div>
    </div>
  </header>
  